/**
 * Header
 */

.logo img {
	height: 36px;
	margin: 0px 0px 10px 5px;
	padding-right: 10px;
}



/**
 * Content
 */

section a.buymeacoffe {
	background-color: #FFDC03;
	color: #1A1F24;
	font-weight: bold;
}
section a.buymeacoffe i {
	color: #1A1F24;
}
section a.buymeacoffe img {
	height: 32px;
	margin-right: 0.7rem;
}
/* section a.buymeacoffe:hover {
	background-color: #1A1F24;
	color: #FFDC03;
}
section a.buymeacoffe:hover i {
	color: #FFDC03;
} */



/**
 * Portfolio
 */

.features .nav-link img {
	width: 64px;
	height: 64px;
}

.features .tab-pane img {
	width: 200px;
	height: 200px;
}



/**
 * Generix
 */

.text-size-xl {
	font-size: 6rem;
}



/**
 * Footer
 */

.footer .footer-legal .social-links a.twitter:hover {
	background-color: #1DA1F2;
}
.footer .footer-legal .social-links a.facebook:hover {
	background-color: #4267B2;
}
.footer .footer-legal .social-links a.linkedin:hover {
	background-color: #0A66C2;
}
.footer .footer-legal .social-links a.buymeacoffe img {
	height: 24px;
}
.footer .footer-legal .social-links a.buymeacoffe:hover {
	background-color: #FFDC03;
}
.footer .footer-legal .social-links a.buymeacoffe:hover i {
	color: #1A1F24;
}
